.chattingRoom {
	background-color: #f6f6f9;
	width: 825px;
}

.chattingRoom--user__info {
	margin-top: 20px;
	margin-left: 605px;
	display: flex;
	flex-direction: row;
}

.chattingRoom--user__img {
	/* background-color: darkgreen; */
	border-radius: 100px;
	width: 38px;
	height: 38px;
}
.chattingRoom--user__arrow {
	margin-top: 17px;
	width: 9px;
	height: 5px;
	margin-left: 12px;
}

.chattingRoom--user__name {
	margin-left: 9px;
	font-size: 14px;
	margin-top: 8px;
}

.chattingRoom--chatPerson__info {
	display: flex;
	position: relative;
	flex-direction: row;
}
.chattingRoom--chatPerson__img {
	margin-top: 20px;
	background-color: #ffff;
	border-radius: 100px;
	width: 64px;
	height: 64px;
	margin-left: 29px;
}

.chattingRoom--chatPerson__name {
	margin-top: 25px;
	margin-left: 24px;
	font-size: 24px;
	font-weight: 500;
}
.chattingRoom--chatPerson__status {
	font-size: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.8);
}
.chattingRoom--chatPerson__toolIcon {
	display: flex;
	flex-direction: row;
	width: 218px;
	margin-left: 280px;
	margin-top: 20px;
	position: relative;
	/* background-color: blueviolet; */
}

.chatPerson__toolIcon__paint {
	position: relative;
}
.toolIcon__whiteBorder {
	top: 10px;
	z-index: 1;
	position: absolute;
}
.toolIcon__paint__icon {
	top: 19px;
	left: 10px;
	width: 22px;
	height: 22px;
	z-index: 2;
	position: absolute;
}
.chatPerson__toolIcon__search {
	position: relative;
	left: 55px;
}
.toolIcon__whiteBorder {
	z-index: 0;
}
.toolIcon__search__icon {
	z-index: 10;
	top: 18px;
	left: 9px;
	position: absolute;
	width: 22px;
	height: 22px;
}
.toolIcon__search__icon {
	z-index: 10;
	top: 18px;
	left: 9px;
	position: absolute;
	width: 22px;
	height: 22px;
}

.chatPerson__toolIcon__delete {
	margin-top: 10px;
	position: relative;
	left: 110px;
}
.toolIcon__delete__icon {
	position: relative;
	width: 22px;
	height: 22px;
	right: 35px;
	top: -10px;
}

.chatPerson__toolIcon__star {
	margin-top: 10px;
	position: relative;
	left: 100px;
}
.toolIcon__star__icon {
	position: relative;
	width: 22px;
	height: 22px;
	right: 35px;
	top: -10px;
}

.chattingRoom--div__hr {
	display: flex;
	flex-direction: row;
	width: 600px;
}
.chattingRoom--hr {
	width: 95%;
	margin-top: 8px;
	margin-left: 20px;
	border: 0.5px solid rgba(152, 159, 201, 0.12);
}
