.chattingRoom {
	background-color: #f6f6f9;
	width: 825px;
}

.chattingRoom--user__info {
	margin-top: 20px;
	width: 825px;
	/* margin-left: 605px; */
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.chattingRoom--user__img {
	/* background-color: darkgreen; */
	border-radius: 100px;
	width: 38px;
	height: 38px;
}
.chattingRoom--user__arrow {
	margin-top: 17px;
	width: 9px;
	height: 5px;
	margin-left: 12px;
	margin-right: 54px;
	cursor: pointer;
}

.chattingRoom--user__name {
	margin-left: 9px;
	font-size: 14px;
	margin-top: 8px;
}

.chattingRoom--chatPerson__info {
	display: flex;
	position: relative;
	flex-direction: row;
	z-index: 1;
}
.chattingRoom--chatPerson__img {
	margin-top: 20px;
	background-color: #ffff;
	border-radius: 100px;
	width: 64px;
	height: 64px;
	margin-left: 29px;
}

.chattingRoom--chatPerson__name {
	margin-top: 25px;
	margin-left: 24px;
	font-size: 24px;
	font-weight: 500;
}
.chattingRoom--chatPerson__status {
	font-size: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.8);
}
.chattingRoom--chatPerson__toolIcon {
	display: flex;
	flex-direction: row;
	width: 218px;
	margin-left: 280px;
	margin-top: 20px;
	position: relative;
	/* background-color: blueviolet; */
}

.chatPerson__toolIcon__paint {
	position: relative;
	cursor: pointer;
}

.toolIcon__whiteBorder {
	top: 10px;
	z-index: 1;
	position: absolute;
}
.toolIcon__paint__icon {
	top: 19px;
	left: 10px;
	width: 22px;
	height: 22px;
	z-index: 2;
	position: absolute;
}
.chatPerson__toolIcon__search {
	position: relative;
	left: 55px;
	cursor: pointer;
}
.toolIcon__whiteBorder {
	z-index: 0;
}
.toolIcon__search__icon {
	z-index: 10;
	top: 18px;
	left: 9px;
	position: absolute;
	width: 22px;
	height: 22px;
}
.toolIcon__search__icon:hover {
	filter: invert(0.32) sepia(1) saturate(5) hue-rotate(75deg);
}
/* .toolIcon__search__icon {
	z-index: 10;
	top: 18px;
	left: 9px;
	position: absolute;
	width: 22px;
	height: 22px;
} */

.input__history__search {
	margin-top: 10px;
	width: 250px;
	height: 45px;
	border: none;
	border-radius: 5px;
	padding-left: 40px;
	color: #00854a;
	font-size: 14px;
}
.chatPerson__toolIcon__delete {
	margin-top: 10px;
	position: relative;
	left: 110px;
}
.toolIcon__delete__icon {
	position: relative;
	width: 22px;
	height: 22px;
	right: 35px;
	top: -10px;
}

.chatPerson__toolIcon__star {
	margin-top: 10px;
	position: relative;
	left: 100px;
}
.toolIcon__star__icon {
	position: relative;
	width: 22px;
	height: 22px;
	right: 35px;
	top: -10px;
}

.chattingRoom--div__hr {
	display: flex;
	flex-direction: row;
	width: 600px;
}
.chattingRoom--hr {
	width: 95%;
	margin-top: 8px;
	margin-left: 20px;
	border: 0.5px solid rgba(152, 159, 201, 0.12);
}

.history__search {
	margin-left: 150px;
	position: relative;
	margin-top: 25px;
	display: none;
}

.history__search__input {
	margin-left: 20px;
	background-color: #ffff;
	width: 345px;
	height: 50px;
	border-radius: 5px;
	border: none;
	padding-left: 40px;
	color: #00854a;
	font-size: 14px;
}
.history__search__input::placeholder {
	color: #00854a;
	opacity: 0.7;
}
.history__search__icon {
	width: 16.89px;
	height: 17.27px;
	position: absolute;
	left: 33px;
	top: 16px;
}
.history_search_close {
	position: absolute;
	width: 14px;
	height: 14px;
	top: 16px;
	left: 340px;
	cursor: pointer;
}

.loading__page {
	width: 1280px;
	height: 654px;
	background-color: #00854a;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.load__img {
	width: 512px;
	height: 512px;
	filter: brightness(0) invert(1);
}
.signOut--tool {
	position: absolute;
	right: 20px;
	z-index: 3;
	display: none;
}
.signOut--box {
	background-color: #ffff;
	width: 90px;
	height: 28px;
	z-index: 2;
	display: flex;
	justify-content: center;
	border-radius: 3px;
	margin-top: -3px;
	cursor: pointer;
}

.signOut--text {
	margin-top: 5px;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.8);
}
.signOut--text:hover {
	color: #00854a;
}
