.room--personSection {
	display: flex;
	flex-direction: column;
	width: 385px;
}
.room--personSection__title {
	font-size: 24px;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 25px;
	display: flex;
	flex-direction: row;
}
.room--personSection__TitleLogo {
	margin-top: 10px;
	width: 86.45px;
	height: 22.5px;
	filter: brightness(0.3) invert(0) sepia(1) saturate(0) hue-rotate(360deg);
}
.room--personSection__subTitle {
	margin-left: 195px;
	margin-top: 10px;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 400;
	font-size: 14px;
}
.room--personSection__search {
	position: relative;
	margin-top: 25px;
	margin-bottom: 35px;
}
.room--personSection__addFriend {
	font-size: 11px;
	color: rgba(0, 0, 0, 0.7);
	margin-left: 22px;
	margin-top: 20px;
	font-weight: 500;
	display: none;
}
.room--personSection__searchFriend {
	position: relative;
	margin-top: 10px;
	margin-bottom: 35px;
	display: none;
}
.personSection__search__input,
.personSection__search__inputFriend {
	margin-left: 20px;
	background-color: #f6f6f9;
	width: 335px;
	height: 50px;
	border-radius: 5px;
	border: none;
	padding-left: 40px;
	color: #00854a;
	font-size: 14px;
}
.personSection__search__input::placeholder {
	color: #00854a;
	opacity: 0.7;
}
.personSection__search__inputFriend::placeholder {
	color: #00854a;
	opacity: 0.7;
}

/* add person and build email friend box css */

.room--personSection__email {
	display: flex;
	margin-left: 20px;
}
.room--personSection__emailImg {
	width: 42px;
	height: 42px;
	border-radius: 100px;
	color: aqua;
}
.room--personSection__emailName {
	margin-top: 10px;
	margin-left: 16px;
	font-size: 14px;
	font-weight: 600;
	/* background-color: #00854a; */
	width: 250px;
}
.room--personSection__emailAdd {
	margin-top: 8px;
	width: 22.89px;
	height: 22.27px;
	/* margin-left: 15px; */
	opacity: 0.6;
	filter: alpha(opacity=60);
	cursor: pointer;
}
.personSection__search__icon {
	width: 16.89px;
	height: 17.27px;
	position: absolute;
	left: 33px;
	top: 16px;
}
.personSection__searchFriend__icon {
	width: 16.89px;
	height: 17.27px;
	position: absolute;
	left: 33px;
	top: 16px;
	cursor: pointer;
}
.room--personSection__chatInfo {
	display: flex;
	flex-direction: row;
	/* margin-top: 35px; */
	width: 385px;
	height: 75px;
	position: relative;
	cursor: pointer;
}
.room--personSection__chatInfo__user {
	display: flex;
	flex-direction: row;
	/* margin-top: 35px; */
	width: 385px;
	height: 75px;
	position: relative;
}
.user__info {
	position: absolute;
	margin-top: 25px;
	margin-left: 310px;
	padding-left: 5px;
	font-size: 14px;
	font-weight: 700;
	background-color: #14ae2e;
	width: 40px;
	height: 20px;
	color: #ffff;
	border-radius: 15px;
}
.room--personSection__chatInfo:hover {
	background-color: #e9eaf1;
}
.personSection__chatInfo__personImg {
	/* background-color: ; */
	width: 42px;
	height: 42px;
	border-radius: 100px;
	margin-left: 20px;
	margin-top: 14px;
}

.personSection__chatInfo__roomName {
	margin-top: 15.5px;
	margin-left: 16px;
	font-size: 14px;
	font-weight: 700;
	width: 300px;
	/* background-color: goldenrod; */
}

.personSection__chatInfo__latestMessage {
	top: 38px;
	left: 78px;
	font-size: 12px;
	position: absolute;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.7);
}
.personSection__chatInfo__messageTime {
	margin-right: 35px;
	margin-top: 28px;
	font-size: 12px;
	color: #989fc9;
}
.friend--list {
	display: flex;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.7);
	margin-top: 5px;
	margin-left: 22px;
	margin-bottom: 5px;
	font-weight: 600;
	flex-direction: row;
}
.friend--list__end {
	margin-left: 250px;
	font-weight: 400;
}
