<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div>
			<label for="">請輸入對話</label>
			<input id="input" type="text" placeholder="對話框" />
			<button id="send" type="submit">send</button>
		</div>
	</body>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
		integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
		crossorigin="anonymous"
	></script>
	<!-- <script type="text/javascript" charset="utf-8">
		var socket = io();
		socket.emit("message", "I'm connected!");
		socket.on("after connect", function (receiving_data) {
			console.log(receiving_data);
		});
		message = document.querySelector("#send");
	</script> -->
	<script src="{{url_for('static', filename='/websocket.js')}}"></script>
</html>
