<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>t-talk</title>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='/css/login.css')}}"
		/>
	</head>
	<body>
		<div class="outer">
			<div class="login">
				<div class="login--welcomeDiv">
					<div class="login--title">
						<!-- T-Talk -->
						<img
							class="login--titleImg"
							src="https://d3azm2sig5lpkh.cloudfront.net/img/word logo.png"
							alt=""
						/>
					</div>
					<div class="login--welcome">Welcome Back</div>
					<div class="login--welcomeDetail">
						Welcome back! Please enter your details
					</div>
				</div>
				<form class="login--form" action="">
					<label class="login--form__name" for="">Name</label>
					<input
						class="login--form__nameInput"
						type="text"
						placeholder="Enter your name"
					/>
					<label class="login--form__email" for="">Email</label>
					<input
						class="login--form__emailInput"
						type="text"
						placeholder="test@test.com"
						value="test@test.com"
					/>
					<label class="login--form__password" for="">Password</label>
					<input
						class="login--form__passwordInput"
						type="password"
						placeholder="123456"
						value="123456"
					/>
					<div class="login--form__passwordSetting">
						<!-- <div type="checkbox" class="form__passwordSetting__remember">
							Remember for 30 days
						</div>
						<div class="form__passwordSetting__forget">Forget Password</div> -->
					</div>
					<div class="login--form__register">Register</div>
					<div class="login--form__login">Login</div>
					<button class="login--form__loginButton" type="submit">
						Login Now
					</button>
					<!-- <button class="login--form__signupButton" type="submit">
						Sign Up Now
					</button> -->
				</form>
				<div class="login--form__hrDiv">
					<div class="hrSetting__left">
						<hr class="login--form__hr" />
					</div>
					<p class="login--form__text">Have a good day !</p>
					<div class="hrSetting__right">
						<hr class="login--form__hr" />
					</div>
				</div>
				<div class="login--form__3rdParty">
					<div class="login--form__google">
						<p class="login--form__googleText"></p>
						<img class="login--form__googleImg" src="" alt="" />
					</div>
					<!-- <div class="login--form__fb">
						<p class="login--form__fbText">FaceBook</p>
						<img class="login--form__fbImg" src="" alt="" />
					</div> -->
				</div>
			</div>
			<div class="pictureBoard">
				<img
					class="picture--img1"
					src="https://d3azm2sig5lpkh.cloudfront.net/img/q1.png"
					alt=""
				/>
				<img
					class="picture--img2"
					src="https://d3azm2sig5lpkh.cloudfront.net/img/q2.png"
					alt=""
				/>
				<img
					class="picture--img3"
					src="https://d3azm2sig5lpkh.cloudfront.net/img/q3.png"
					alt=""
				/>
				<img
					class="picture--img4"
					src="https://d3azm2sig5lpkh.cloudfront.net/img/w1.png"
					alt=""
				/>
				<img
					class="picture--img5"
					src="https://d3azm2sig5lpkh.cloudfront.net/img/w2.png"
					alt=""
				/>
				<img
					class="picture--img6"
					src="https://d3azm2sig5lpkh.cloudfront.net/img/w3.png"
					alt=""
				/>
				<img
					class="picture--img7"
					src="https://d3azm2sig5lpkh.cloudfront.net/img/e1.png"
					alt=""
				/>
				<img
					class="picture--img8"
					src="https://d3azm2sig5lpkh.cloudfront.net/img/e2.png"
					alt=""
				/>
				<img
					class="picture--img9"
					src="https://d3azm2sig5lpkh.cloudfront.net/img/e3.png"
					alt=""
				/>
				<img
					class="picture--img10"
					src="https://d3azm2sig5lpkh.cloudfront.net/img/r1.png"
					alt=""
				/>
				<img
					class="picture--img11"
					src="https://d3azm2sig5lpkh.cloudfront.net/img/r2.png"
					alt=""
				/>
				<img
					class="picture--img12"
					src="https://d3azm2sig5lpkh.cloudfront.net/img/r3.png"
					alt=""
				/>
			</div>
		</div>
	</body>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
		integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
		crossorigin="anonymous"
	></script>
	<script src="{{url_for('static', filename='/js/login/login.js')}}"></script>
</html>
